@page
@model AspRazorPage.Pages.Verduras.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Verdura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verdura.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verdura.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verdura.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verdura.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Verdura.IdVerdura">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
