@page
@model AspRazorPage.Pages.Verduras.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Verdura[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verdura[0].Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Verdura) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdVerdura">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdVerdura">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdVerdura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
